html, body {
    margin: 0;
    display:block;
}
#name{
    font-size: 18px;
    margin-left: 120px;
    font-family: Lucida Console, monospace;
    font-weight: 400;
}

#header{
    background: #F80049;
}
img {
    margin: 1px 5px 1px 5px;
    }
.container {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    }

